*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Python
.venv
*__pycache__*

# MISC
cache
.vscode
.env
*.DS_Store*

# Include Resolvers JS code
!src/api/functions/resolvers/*.js
!src/api/functions/resolvers/favorite-runtime-resolvers/*.js
!src/api/functions/resolvers/runtime-update/*.js

# User interface
src/user-interface/react-app/dist
src/user-interface/react-app/public/aws-exports.json
!src/user-interface/react-app/src/vite-env.d.ts

# Local Configurations
iac-cdk/bin/config.json
iac-cdk/bin/config.yaml

# Documentation artifacts
site/

# Notebooks data
notebooks/data/*
!notebooks/data.zip

# tmp - temporary data
tmp*

# Graphql copy pasted file
src/api/functions/notify-runtime-update/graphql.ts

# Demo MCP servers
CustomMcpServer/

# ASH scan results
.ash/

# Terraform
**/.terraform/*
iac-terraform/modules/**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
!*.tfvars.example
iac-terraform/build/
checkov-report.json

iac-terraform/modules/knowledge_base/build
