pre[class*="language-"] {
    margin: 0 !important;
    white-space: pre-wrap !important;
    word-break: break-word !important;
    max-width: 100% !important;
}

code[class*="language-"] {
    white-space: pre-wrap !important;
    word-break: break-word !important;
    max-width: 100% !important;
}
